.app-header {
  height: 10%;
  padding-top:20px;
  padding-bottom: 35px;
  color: white;
}

.app-logo {
  max-width:35%;
  max-height:10%;
  height: auto;
  width:auto;
}

.app-logo-small-display {
  max-width:80%;
  max-height:10%;
  height: auto;
  width:auto;
}

a {
  color: #9799a0;
  text-decoration:none;
}
