.footer h4{
  color: #4994da;
  position:absolute;
  left:0px;
  bottom:15px;
  right:0px;
  margin-bottom:0px;
}

.footer-small-display h4 {
  color: #4994da;
  left:0px;
  bottom:15px;
  right:0px;
  margin-bottom:0px;
}
