.footer h4{
  color: #131820;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer-small-display h4 {
  color: #131820;
  left:0;
  bottom:0;
  right:0;
}

.version {
  color: #131820;
  position:absolute;
  left:1;
  bottom:0;
  right:0;
  margin-right: .3em;
  margin-bottom: .3em;
}

.version-small-display {
  color: #131820;
  left:1;
  bottom:0;
  right:0;
  margin-right: .3em;
  margin-bottom: .3em;
}