.clickable {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: #9799a0;
  font-family: sans-serif;
  font-weight: bold;
}

clickable:hover,
.link-button:focus {
  text-decoration: none;
}

.content {
  display: inline-block;
}

.loading {
  max-width:50%;
}

.main {
  text-align: center;
  min-height: 100vh;
  background-color: #181f29;
}

.network {
  vertical-align: top;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.network-share-button {
  cursor: pointer;
  opacity: 0.5;
}

.network-share-button:hover:not(:active) {
  opacity: 1;
}

.share-results {
  padding-top:15px;
}

.share-results h4{
  margin-bottom: 0px;
}

.share-results-header.h4 {
  padding-bottom:0px;
}

.square-button {
  border: 0px solid #ddd;
  background-color: #f0f0f0;
  padding: 3px 12px;
  font-size: 14pt;
}

.square-button:hover {
  background-color: #e5e5e5;
}

.square-button:active {
  background-color: #ccc;
}

/* h4 {
  color: #9799a0;
  margin-top: 0px;
  margin-bottom: 5px;
  text-decoration:none;
} */

a {
  color: #9799a0;
  text-decoration:none;
}

li {
  color: #9799a0;
  text-decoration:none;
}

text {
  fill: #9799a0;
  text-decoration:none;
}

.line-chart-lines {
  stroke-width: 5
}

.lowered-content {
  padding-top: 10em;
}
