.app-header {
  height: 10%;
  padding-top:20px;
  padding-bottom: 10px;
  color: white;
}

.app-logo {
  max-width:35%;
  max-height:10%;
  height: auto;
  width:auto;
}

.app-logo-small-display {
  max-width:70%;
  max-height:10%;
  height: auto;
  width:auto;
}

.clickable {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: #9799a0;
  font-family: sans-serif;
  font-weight: bold;
}

clickable:hover,
.link-button:focus {
  text-decoration: none;
}

body {
  background-color: #171f29;
}

.content {
  display: inline-block;
}

.footer h4{
  color: #8fc679;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer-small-display h4 {
  color: #8fc679;
  left:0;
  bottom:0;
  right:0;
}

.github-link {
  width: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #9799a0;
}

.input {
  margin-top: auto;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.search-text {
  text-align: left;
  padding-left: 12px;
  width: 220px;
  font-size: 1.2em;
}

.search-button {
  text-align: right;
  padding-right: 10px;
  margin: 10px;
}

.loading {
  max-width:50%;
}

.main {
  text-align: center;
}

.network {
  vertical-align: top;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.network-share-button {
  cursor: pointer;
  opacity: 0.5;
}

.network-share-button:hover:not(:active) {
  opacity: 0.25;
}

.share-results {
  padding-top:15px;
}

.share-results h4{
  margin-bottom: 0px;
}

.share-results-header.h4 {
  padding-bottom:0px;
}

.square-button {
  border: 0px solid #ddd;
  background-color: #f0f0f0;
  padding: 3px 12px;
  font-size: 14pt;
}

.square-button:hover {
  background-color: #e5e5e5;
}

.square-button:active {
  background-color: #ccc;
}

h4 {
  color: #9799a0;
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  color: #9799a0;
  text-decoration:none;
}

li {
  color: #9799a0;
  text-decoration:none;
}

text {
  fill: #9799a0;
}

.line-chart-lines {
  stroke-width: 5
}

.page-wrap {
  background: #171f29;
}
