.App {
  text-align: center;
}

.App-logo {
  height: 200px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Input {
  height:25px;
  font-size:16pt;
}

.Square-button {
  border: 0px solid #ddd;
  background-color: #f0f0f0;
  padding: 3px 12px;
  font-size: 16pt;
}

.Square-button:hover {
  background-color: #e5e5e5;
}

.Square-button:active {
  background-color: #ccc;
}

.Content {
  display: inline-block;
}

.Footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
